bcrypt==3.2.2
flasgger==0.9.5
Flask==1.1.2
Flask-Babel==2.0.0
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.8
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==2.11.2
mysql-connector-python==8.0.29
mysqlclient==2.1.0
parameterized==0.8.1
pep8==1.7.1
psycopg==3.0.14
psycopg2==2.9.3
pymongo==4.1.1
pyparsing==3.0.9
pyrsistent==0.18.1
pytz==2022.1
requests==2.18.4
SQLAlchemy==1.4.35
sqlparse==0.4.2
typing_extensions==4.2.0
urllib3==1.22
virtualenv==20.14.1
virtualenv-clone==0.5.7
Werkzeug==2.0.3
